/* General CSS Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Raleay', 'Courier New', sans-serif;
    font-size: 16px; /* font-size for calculate rem */
    background-color: hsla(60, 56%, 95%, 1.0);
    /* border: 1px solid black; */
}
h1 {
    font-size: 2.50rem; /* 48 / 16 = 3 rem */
}
h2 {
    font-size: 2.25rem; /* 40 / 16 = 2.5 rem */
}
h3 {
    font-size: 2.0rem; /* 24 / 16 = 1.5 rem*/
}
h4 {
    font-size: 1.75rem; /* 22 / 16 = 1.375 rem */
}
h5 {
    font-size: 1.5rem; /* 20 / 16 = 1.25 rem */
}
h6 {
    font-size: 1.25rem; /* 18 / 16 = 1.125 rem */
}
p {
    font-size: 1.15rem; /* 15 / 16 = 0.9375 rem */
    font-family: 'Poppins', Georgia, sans-serif;
}
ul {
    list-style-type: none;
}
.uline{
    text-decoration: underline;
}
.center {
    text-align: center;
  }
.button {
    border-radius: 4px;
    background-color: greenyellow;
    color: white;
  }
.image-cnt {
    overflow: hidden;
  }
img {
    display: block;
  }
.image-cnt img {
    display: block;
  }
.noBorder {
  border: none;
}
/* ------------------ General CSS Styles for media query for Tablet in Portrait Style ----------------------------- */
@media only screen and (max-width: 888px) and (min-width: 490px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }
}
/* ------------------ General CSS Styles for media query for Tablet in landscape Style ----------------------------- */
@media only screen and (max-width: 780px) and (orientation: landscape){
  html {
    font-size: 12px;
  }
}
/* ------------------ General CSS Styles for media query for Handy in Portrait Style ----------------------------- */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  html {
    font-size: 9px;
  }
}
/* -------------------------------------------------------------- Header ---------------------------------- */
header {
    display: grid;
    grid-template: repeat(5, 25px) / repeat(12, auto);
    /* border: 1px solid blueviolet; */
    align-items: center;
  }
header .desktop {
    grid-area: 1 / 1 / span 5 / span 12;
    display: block;
    /* border: 1px solid blue; */
} 
header .content { 
    grid-area: 1 / 1 / span 5 / span 2;
    justify-self: flex-start;
    padding-left: 1rem;
    /* border: 1px solid green;  */
}
header nav ul { 
    grid-area: 1 / 1 / span 5 / span 12;
    display: flex;
    /* border: solid 1px green; */
    justify-content: flex-end;
  }
nav li {
    padding-right: 1.5rem;
    /* border: solid 1px yellow; */
    font-size: 1.25rem;
  }
nav a{
    text-decoration: none;
    color: black;
}
header .mobile {
    display: none;
  }
/* ----------------------------------------- media query for Handy -  Portrait - Header ---------------------------------- */
@media only screen and (max-width: 480px) and (orientation: portrait){
    header {
      padding: 0;
    }
    header .desktop {
      display: none;
    }
    header figure img {
      height: 35%;
      width: auto;
    }
    header .mobile {
      display: block;
      grid-area: 3 / 1 / span 2 / span 12;
      /* border: 1px solid blue; */
    }
    header .content {
      grid-area: 1 / 1 / span 2 / span 12;
      justify-self: center;
    }
    header .mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      /* border: 1px solid green; */
    }
    header .mobile li {
      padding: 0;
      /* border: 1px solid yellow; */
    }
    header .mobile img{
      width: 100%;
      height: 2.7rem;
    }
  }
/* ---------------------- media query for tablet -  Portrait & landscap smaller 920px - Header ----------------------- */
@media only screen and (max-width: 920px) and (min-width: 490px) {
    header {
      padding: 0;
    }
    header .desktop {
      display: none;
    }
    header figure img {
      height: 50%;
      width: auto;
    }
    header .mobile {
      display: block;
      grid-area: 3 / 1 / span 2 / span 12;
      /* border: 1px solid blue; */
    }
    header .content {
      grid-area: 1 / 1 / span 2 / span 12;
      justify-self: center;
      }
    header .mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      /* border: 1px solid green; */
    }
    header .mobile li {
      padding: 0;
      /* border: 1px solid yellow; */
    }
    header .mobile img{
        width: 100%;
        height: 3.1rem;
    }
  } 
/* -------------------------------- media query smaller 1080 px and landscape in Header -------------------- */
@media only screen and (max-width: 1080px) and (min-width: 920px){
    header .desktop {
        display: block;
        /* border: 1px solid blue; */
    }
    header .content { 
        grid-area: 1 / 1 / span 2 / span 12;
        justify-self: center;
        /* border: 1px solid green;  */
    }
    header nav ul { 
        grid-area: 3 / 1 / span 2 / span 12;
      }
}
/* -------------------------------------------------------------- main index.html ---------------------------------- */
main{
    display: grid;
    grid-template: repeat(9, auto) / repeat(12, 1fr);
    /* border: 1px solid blueviolet; */
  }
.right {
    grid-area: 1 / 8 / span 9 / span 4;
    padding: 1rem;
    /* border: 1px solid blue; */
    align-self: center;
    justify-self: center;
  }
.left {
    grid-area: 1 / 2 / span 9 / span 6;
    padding: 1rem;
    /* border: 1px solid blue; */
  }
.left h2, h3, p{
    padding-bottom: 1rem;
}
.right img {
    width: 90%;
    height: auto;
    border-radius: 0.35rem;
  }
/* -----------------------------------------------------media query main - Handy & Portrait- index.html ---------------------------------- */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    .right {
        grid-area: 5 / 1 / span 5 / span 12;
        padding: 1rem;
        /* border: 1px solid blue; */
      }
    .left {
        grid-area: 1 / 1 / span 4 / span 12;
        padding: 1rem;
        /* border: 1px solid blue; */
      }
    .right img {
        width: 75%;
        height: auto;
        border-radius: 0.35rem;
      }
}
/* -------------------------------------------------------------- footer Section ---------------------------------- */
footer {
    display: grid;
    grid-template: repeat(2, 50px) / repeat(12, auto);
    /* border: 1px solid blueviolet; */
    justify-items: center;
    align-items: center;
  }
  footer h4 {
    grid-area: 1 / 1 / span 2 / span 12;
    margin: 1%;
    font-weight: normal;
    /* border: 1px solid blue; */
  }
.heart {
    color: red;
}
/* -------------------------------------------------------------- main project.html ---------------------------------- */
#projects {
    grid-area: 1 / 1 / span 9 / span 12;
    padding: 1rem;
    /* border: 1px solid blue; */
    /* align-self: center;
    justify-self: center; */
}
#projects img {
    width: 35rem;
    height: auto;
    padding: 1rem 0rem;
    /* border: 1px solid green; */
}
#projects summary{
    font-size: 1.5rem;
    margin: 1rem 0rem;
    /* border: 1px solid green; */
}
#projects li{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.05rem;
    font-family: 'Poppins', Georgia, sans-serif;
    font-weight: normal;
    padding: 0.25rem;
    /* border: 1px solid green; */
}
/* -------------------------------------------------------------- main skills.html ---------------------------------- */
#skills{
    grid-area: 1 / 1 / span 9 / span 12;
    /* border: 1px solid blue; */
}
#skills .image-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid green; */
    padding-left: 3rem;
}
#skills details{
    width: 50%;
}
.image-cnt img{
    width: auto;
    height: 5rem;
    margin: 1.5rem 0rem; 
    /* border: 1px solid yellow; */
}
#skills details > summary {
    list-style: disclosure-closed;;
}
#skills details[open] > summary {
    list-style: disclosure-open;
}
#skills li{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.05rem;
    font-family: 'Poppins', Georgia, sans-serif;
    font-weight: normal;
    /* border: 1px solid green; */
}
/* ---------------------------------------------------- main contact.html ----------------------------------------- */
#contact {
    grid-area: 1 / 1 / span 9 / span 12;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}
#contact .image-cnt{
    width: 5%;
    /* border: 1px solid green; */
}
#contact .content{
    width: 90%;
    /* border: 1px solid greenyellow; */
}